* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
}

.header {
  background-color: white;
  position: fixed;
  height: 150px;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border-bottom: 5px solid rgb(192, 184, 184);
}
.navbar a {
  font-size: 16pt;
  color: black;
  text-decoration: none;
  margin-left: 20px;
}
.navbar a:hover {
  font-weight: bold;
  text-decoration: underline;
}
.logo {
  color: black;
  position: relative;
  right: 60%;
}

.main-content {
  margin-top: 150px;
  padding-bottom: 10px;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  column-gap: 30px;
  row-gap: 20px;
}
.content-item {
  height: 400px;
  width: 300px;
}
.item-img-container {
  height: 350px;
  width: 100%;
}
.item-img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.item-info-container {
  width: 100%;
  height: 50px;
  text-decoration: none;
}
.item-info-container a{
  color: black;
  text-decoration: none;
}
.item-name-container {
  background-color: white;
  width: 100%;
  height: 25px;
  padding: 3px;
  padding-left: 5px;
  text-align: start;
}
.item-name-container a{
  color: black;
}
.item-price-container {
  background-color: white;
  width: 100%;
  height: 25px;
  text-align: start;
  padding: 3px;
  padding-left: 10px;
}
.footer {
  position: relative;
  height: 100px;
  width: 100%;
  background-color: black;
}
.footer-start {
  color: white;
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 5%;
  width: 40%;
}
.footer-start p {
  display: block;
  text-align: center;
  position: relative;
  right: 30%;
  top: 10px;
}
.footer-start a {
  color: white;
}
.footer-end {
  position: absolute;
  top: 20%;
  bottom: 20%;
  right: 5%;
  width: 40%;
}
.footer-end img {
  display: inline-block;
  position: relative;
  top: 35%;
  left: 60%;
  margin-left: 15px;
}
