<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="404.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>ERROR 404</title>
  </head>
  <body>
    <header class="header">
      <div>
        <img
          class="logo"
          src="./assets/music-logo.svg"
          alt="Website logo"
          height="150px"
        />
      </div>
      <!--TODO add hrefs-->
      <nav class="navbar">
        <a href="./index.html">Home</a>
        <a href="./404.html">Categoria X</a>
        <a href="./404.html">Categoria Y</a>
        <a href="./404.html">Categoria Z</a>
        <a href="./CartPage.html">Carrinho</a>
        <a href="./LoginPage.html">Login</a>
      </nav>
    </header>
    <div class="main-content">
      <h1 class="error-title">404</h1>
      <img class="error-img" src="./assets/404.gif" />
      <p class="error-message">Oops, the page you're looking for doesn't exist.</p>
    </div>
  </body>
</html>
