<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    {% block head %} {% endblock %}
  </head>
  <body>
    <!-- Header start -->
    <header class="header">
      <div>
        <a href="{{url_for('index')}}">
          <img
          class="logo"
          src="{{url_for('static', filename = 'icons/music-logo.svg')}}"
          alt="Website logo"
          height="150px"
        />
        
      </div>
      <!--TODO add hrefs-->
      <nav class="navbar">
        <a href="{{url_for('index')}}">Home</a>
        <a href="{{url_for('error')}}">Categoria X</a>
        <a href="{{url_for('error')}}">Categoria Y</a>
        <a href="{{url_for('error')}}">Categoria Z</a>
        <a href="{{url_for('CartPage')}}">Carrinho</a>
        <a href="{{url_for('login')}}">Login</a>
      </nav>
    </header>
    <!-- Header End -->
    {% block content %} {% endblock %}

    <!-- Footer Start -->
    <footer class="footer">
      <div class="footer-start">
        <p>Copyright All Rights Reserved</p>
        <p>
          <a href="/404">Terms of Use</a> /
          <a href="/404">Privacy Policy</a>
        </p>
      </div>
      <div class="footer-end">
        <a href="{{url_for('error')}}"
          ><img
            src="{{url_for('static', filename = 'icons/facebook_icon.svg')}}"
            alt="facebook logo"
            height="20px"
        /></a>
        <a href="{{url_for('error')}}"
          ><img
            src="{{url_for('static', filename = 'icons/twitter_icon.svg')}}"
            alt="twitter logo"
            height="20px"
        /></a>
        <a href="{{url_for('error')}}"
          ><img
            src="{{url_for('static', filename = 'icons/instagram_icon.svg')}}"
            alt="instagram logo"
            height="20px"
        /></a>
        <a href="{{url_for('error')}}"
          ><img
            src="{{url_for('static', filename = 'icons/linkedin_icon.svg')}}"
            alt="linkedin logo"
            height="20px"
        /></a>
        <a href="{{url_for('error')}}"
          ><img
            src="{{url_for('static', filename = 'icons/pinterest_icon.svg')}}"
            alt="pinterest logo"
            height="20px"
        /></a>
        <a href="{{url_for('error')}}"
          ><img
            src="{{url_for('static', filename = 'icons/google_icon.svg')}}"
            alt="google logo"
            height="20px"
        /></a>
      </div>
    </footer>
    <!-- Footer End -->
  </body>
</html>
