{% extends "base.html" %} {%block head%}
<link
  rel="stylesheet"
  href="{{url_for('static', filename = 'css/LoginPage.css')}}"
/>
{% endblock %} {% block content %}
<!--Container do Login-->
<div class="container">
  <!--card do login-->
  <div class="login-card">
    <h2>Bem-vindo!</h2>
    <form action="#" method="post">
      <div class="form-group">
        <label>Email</label>
        <input type="email" name="login_email" placeholder="Insira o email" />
      </div>
      <div class="form-group">
        <label>Palavra-Passe</label>
        <input
          type="password"
          name="login_password"
          placeholder="Insira a palavra-passe"
        />
      </div>
      <!--Esqueceu sua senha e recuparar no Footer do card do login -->
      <button class="button" type="submit">Entrar</button>
      <div class="form-footer">
        <a href="{{url_for('error')}}">Esqueceu sua senha?</a>
        <p>Não tem uma conta? <a href="/register">Registre-se</a></p>
      </div>
    </form>
  </div>
</div>
{% endblock %}
<!--Footer já feito pelo Euller-->
