{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename = 'css/ProductSingle.css')}}"
/>
{% endblock %}


  {% block content %}
  <div class="product-main-content"></div>
  <div class="product-container">
    <div class="product-img-container">
      <img src="{{url_for('static', filename = 'images/drumkit.png')}}" />
    </div>
    <div class="product-info-container">
      <div class="product-tag">
        <p>Bateria Pearl Performance P5500</p>
        <p>€ 1289.00</p>
      </div>
      <div class="purchase-details">
        <p>ID: 999999</p>
        <p>Produto em Stock</p>
        <p>Envio Grátis</p>
      </div>
      <div class="purchase-buttons-container">
        <input id="quantity-selector" type="number" value="1" min="1" />
        <a href="./CartPage.html"
          ><input id="add-purchase-btn" type="button" value="Adicionar"
        /></a>
      </div>
    </div>
  </div>
  <div class="product-details-container">
    <p id="title">Descrição do Produto</p>
    <p>
      Smartly clipper hogshead reef tender gibbet jury mast Sail ho Pirate Round
      chase transom hempen halter belay Chain Shot take a caulk. Pieces of Eight
      ahoy belaying pin belay Buccaneer Jack Tar barque black jack come about
      bilge long clothes code of conduct Nelsons folly galleon Corsair. Pieces
      of Eight fathom cog list hempen halter man-of-war grapple black jack Davy
      Jones' Locker handsomely pirate scuppers chandler port pressgang. Prow
      topsail black spot mizzenmast boom hardtack overhaul jack chandler booty
      Admiral of the Black Arr ye bucko doubloon. Gaff fire in the hole Jack Tar
      Plate Fleet parley careen strike colors bilge rat poop deck scuppers long
      clothes dead men tell no tales spike square-rigged quarterdeck. Fluke
      provost gibbet Chain Shot come about gun sloop bring a spring upon her
      cable gangway Pirate Round gaff gangplank chandler fire ship six pounders.
    </p>
  </div>
</div>
  {% endblock %}

