<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Registro</title>
    <link rel="stylesheet" href="ProfilePage.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
      rel="stylesheet"
    />
</head>
<!--Pré feito pelo Euller, ainda bem.-->
<body>
    <header class="header">
        <div>
            <img class="logo" src="./assets/music-logo.svg" alt="Website logo" height="150px" />
        </div>
        <nav class="navbar">
            <a href="index.html">Home</a>
            <a href="404.html">Categoria X</a>
            <a href="404.html">Categoria Y</a>
            <a href="404.html">Categoria Z</a>
            <a href="CartPage.html">Carrinho</a>
            <a href="LoginPage.html">Login</a>
        </nav>
    </header>

    <div class="container">
        <div class="register-card">
            <h2>Seus Dados</h2>
            <form>
                <div class="form-group">
                    <label>Nome</label>
                    <label>Fábio</label>
                </div>
                <div class="form-group">
                    <label>Apelido</label>
                    <label>Caça Ratos</label>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <label>fabiomousehunter@gmail.com</label>
                </div>
                <div class="form-group">
                    <label>Morada</label>
                    <label>Rua. António Peran Nº1200 Ap.17</label>
                </div>
                <div class="form-group">
                    <label>Distrito</label>
                    <label>Lisboa</label>
                </div>
                <!--Aqui teve que ser GPT pq eu não fazia ideia do design disso aqui-->
                <a href="index.html"><input class="button" type="button" value="Aceitar" /></a>
                <!--Aqui teve que ser GPT pq eu não fazia ideia do design disso aqui-->
                <div class="form-footer">
                    <p>Voltar a <a href="index.html"> Home</a></p> <!--Campo caso o usuário já tenha conta-->
                </div>
            </form>
        </div>
    </div>
  <!--Pré feito pelo Euller, ainda bem.-->
    <footer class="footer">
        <!--Não sei o que ele fez, mas esse footer não fica certo no meu, e vai ficar assim.-->
        <div class="footer-start">
            <p>Copyright All Rights Reserved</p>
            <p><a href="404.html">Terms of Use</a> / <a href="404.html">Privacy Policy</a></p>
        </div>
        <div class="footer-end">
            <img src="./assets/facebook_icon.svg" alt="facebook logo" height="20px" />
            <img src="./assets/twitter_icon.svg" alt="twitter logo" height="20px" />
            <img src="./assets/instagram_icon.svg" alt="instagram logo" height="20px" />
            <img src="./assets/linkedin_icon.svg" alt="linkedin logo" height="20px" />
            <img src="./assets/pinterest_icon.svg" alt="pinterest logo" height="20px" />
            <img src="./assets/google_icon.svg" alt="google logo" height="20px" />
        </div>
    </footer>
    <!--Pré feito pelo Euller, ainda bem.-->
</body>
</html>
