
    {%extends "base.html"%}

    {%block head%}
    <link
  rel="stylesheet"
  href="{{url_for('static', filename = 'css/ProfilePage.css')}}"
/>
    {%endblock%}
    
    {% block content %}
    <div class="container">
        <div class="register-card">
            <h2>Seus Dados</h2>
            <form>
                <div class="form-group">
                    <label>Nome</label>
                    <label>Fábio</label>
                </div>
                <div class="form-group">
                    <label>Apelido</label>
                    <label>Caça Ratos</label>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <label>fabiomousehunter@gmail.com</label>
                </div>
                <div class="form-group">
                    <label>Morada</label>
                    <label>Rua. António Peran Nº1200 Ap.17</label>
                </div>
                <div class="form-group">
                    <label>Distrito</label>
                    <label>Lisboa</label>
                </div>
                <!--Aqui teve que ser GPT pq eu não fazia ideia do design disso aqui-->
                <a href="index.html"><input class="button" type="button" value="Aceitar" /></a>
                <!--Aqui teve que ser GPT pq eu não fazia ideia do design disso aqui-->
                <div class="form-footer">
                    <p>Voltar a <a href="index.html"> Home</a></p> <!--Campo caso o usuário já tenha conta-->
                </div>
            </form>
        </div>
    </div>
    {% endblock %}
 
  
