{%extends "base.html"%} {%block head%}
<link
  rel="stylesheet"
  href="{{url_for('static', filename = 'css/ProfilePage.css')}}"
/>
{%endblock%} {% block content %}
<div class="container">
  <div class="register-card">
    <h2>Seus Dados</h2>
    <form>
      <div class="form-group">
        <label id="title">Nome</label>
        <label>{{user.user_name}}</label>
      </div>
      <div class="form-group">
        <label id="title">Apelido</label>
        <label>{{user.user_last_name}}</label>
      </div>
      <div class="form-group">
        <label id="title">Email</label>
        <label>{{user.user_email}}</label>
      </div>
      <div class="form-group">
        <label id="title">Morada</label>
        <label>{{user.user_address}}</label>
      </div>
      <div class="form-group">
        <label id="title">Distrito</label>
        <label>{{user.user_district}}</label>
      </div>

      <div class="form-footer">
        <p>Voltar a <a href="/home"> Home</a></p>
        <!--Campo caso o usuário já tenha conta-->
      </div>
    </form>
  </div>
</div>
{% endblock %}
