{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename = 'css/RegistryPage.css')}}"
/>
{% endblock %} {% block content %}
<div class="container">
  <div class="register-card">
    <h2>Seus dados</h2>
    <form>
      <div class="form-group">
        <label>Nome</label>
        <input type="text" />
        <!--Input nome-->
      </div>
      <div class="form-group">
        <label>Apelido</label>
        <input type="text" />
        <!--Input apelido-->
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" />
        <!--Input email-->
      </div>
      <div class="form-group">
        <label>Confirmação Email</label>
        <input type="email" />
        <!--Input email-->
      </div>
      <div class="form-group">
        <label>Palavra-Passe</label>
        <input type="password" />
        <!--Input palavra-Passe-->
      </div>
      <div class="form-group">
        <label>Confirmação da Palavra-Passe</label>
        <!--Input Confirmar a palavra passe-->
        <input type="password" />
      </div>
      <div class="form-group">
        <label>Morada</label>
        <input type="text" />
        <!--Input Endereço-->
      </div>
      <!--Aqui usei para fazer o input com lista dos Distritos para  o usuário selecionar-->
      <!--Nomes dos Distritos pedi para o GPT, não teve jeito-->
      <div class="form-group">
        <label for="estado">Distrito</label>
        <select id="Distrito" name="estado">
          <option value="">Selecione o Distrito</option>
          <option value="Aveiro">Aveiro</option>
          <option value="Beja">Beja</option>
          <option value="Braga">Braga</option>
          <option value="Bragança">Bragança</option>
          <option value="Castelo Branco">Castelo Branco</option>
          <option value="Coimbra">Coimbra</option>
          <option value="Évora">Évora</option>
          <option value="Faro">Faro</option>
          <option value="Guarda">Guarda</option>
          <option value="Leiria">Leiria</option>
          <option value="Lisboa">Lisboa</option>
          <option value="Portalegre">Portalegre</option>
          <option value="Porto">Porto</option>
          <option value="Santarém">Santarém</option>
          <option value="Setúbal">Setúbal</option>
          <option value="Viana do Castelo">Viana do Castelo</option>
          <option value="Vila Real">Vila Real</option>
          <option value="Viseu">Viseu</option>
          <option value="Açores">Região dos Açores</option>
          <option value="Madeira">Região da Madeira</option>
        </select>
      </div>
      <!--CheckBox para aceitar politicas de privacidades-->
      <div class="form-group checkbox-group">
        <label
          ><input type="checkbox" /> Aceito a política de privacidade</label
        >
      </div>
      <div class="form-group checkbox-group">
        <label
          ><input type="checkbox" /> Inscrever-se em nossa Newsletter</label
        >
      </div>
      <a href="ProfilePage.html"
        ><input class="button" type="button" value="Registrar"
      /></a>
      <div class="form-footer">
        <p>Voltar a pagina principal <a href="/home">Aqui</a></p>
        <!--Campo caso o usuário já tenha conta-->
      </div>
    </form>
  </div>
</div>
{% endblock %}
